/**
 * Global Styles
 * Contains global resets, fonts, and base styles
 */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Box sizing reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Base body styles */
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
